.info-icon {
    width: auto;
    height: auto;
    vertical-align: middle;
    cursor: pointer;
}

.info-icon.circle {
    border: 1px solid;
    border-radius: 50%;
    padding: 0.1em 0.5em;
    font-size: 0.7em;
}

.tooltip ul {
    padding-left: 1em;
}

.tooltip li {
    margin: 0;
}

.tooltip ul {
    text-align: left;
}

.tooltip-inner {
    max-width: 250px !important;
}

.tooltip-inner table {
    font-size: 13px;
    color: white;
}

.tooltip {
    pointer-events: none;   /* prevent flickering */
}

.tooltip-inner, .tooltip-arrow, .tooltip-arrow::before {
    --bs-tooltip-bg: var(--bs-dark-bg-subtle);
    --bs-tooltip-color: var(--bs-body);
}

.tooltip-inner .table {
    --bs-table-bg: transparent !important;
}


