
.record-value {
    text-shadow: none;
    padding: 0.6em;
    word-wrap: break-word;
}

.record-header .header-name {
    font-size: 0.9em;
}

.type-tag {
    border-radius: 5px;
    padding: 4px;
    font-size: 12px;
    margin: 3px;
}

.spacing {
    height: 5px;
}

pre.renderjson {
    white-space: pre-wrap;
    margin: 0;
}

.renderjson .disclosure {
    margin-right: 2px;
}

.renderjson .masked {
    font-weight: bold;
}

.record-metadata-value {
    font-weight: bold;
}

.kafka-value-guttered {
    position: relative;
}

.kafka-value-gutter {
    display: block;
    position: absolute;
    font-size: 0.7em;
    font-weight: 700;
    top: 0.1rem;
    right: 0.1rem;
    line-height: 1;
    text-transform: uppercase;
    color: #999;
}


[data-bs-theme="light"] .record-value {
    background: #e0e0e0;
}
[data-bs-theme="dark"] .record-value {
    background: #161b20;
}

[data-bs-theme="light"] .type-tag {
    background-color: gray;
    color: white;
}
[data-bs-theme="dark"] .type-tag {
    background-color: gray;
    color: white;
}

[data-bs-theme="light"] .renderjson .disclosure {
    color: #b85c57;
}
[data-bs-theme="dark"] .renderjson .disclosure {
    color: #e8635c;
}

[data-bs-theme="light"] .renderjson .syntax {
    color: grey;
}
[data-bs-theme="dark"] .renderjson .syntax {
    color: grey;
}

[data-bs-theme="light"] .renderjson .string {
    color: #3c8418;
}
[data-bs-theme="dark"] .renderjson .string {
    color: #3c8418;
}

[data-bs-theme="light"] .renderjson .number {
    color: #326dff;
}
[data-bs-theme="dark"] .renderjson .number {
    color: #326dff;
}

[data-bs-theme="light"] .renderjson .boolean {
    color: #9b6add;
}
[data-bs-theme="dark"] .renderjson .boolean {
    color: #9b6add;
}

[data-bs-theme="light"] .renderjson .key {
    color: #b5602d;
}
[data-bs-theme="dark"] .renderjson .key {
    color: #ea7e3d;
}

[data-bs-theme="light"] .renderjson .keyword {
    color: #767661;
}
[data-bs-theme="dark"] .renderjson .keyword {
    color: #767661;
}

[data-bs-theme="light"] .renderjson .object.syntax {
    color: #122512;
}
[data-bs-theme="dark"] .renderjson .object.syntax {
    color: #667e66;
}

[data-bs-theme="light"] .renderjson .array.syntax {
    color: #122512;
}
[data-bs-theme="dark"] .renderjson .array.syntax {
    color: #667e66;
}

[data-bs-theme="light"] .renderjson .masked {
    color: #de2323;
}
[data-bs-theme="dark"] .renderjson .masked {
    color: #de2323;
}

[data-bs-theme="light"] .value-base64 .renderjson, .renderjson .value-base64{
    color: #1e1aaf;
}
[data-bs-theme="dark"] .value-base64 .renderjson, .renderjson .value-base64{
    color: #1e1aaf;
}

[data-bs-theme="light"] .value-string .renderjson{
    color: #4b7904;
}
[data-bs-theme="dark"] .value-string .renderjson{
    color: #4b7904;
}

[data-bs-theme="light"] .record-value.value-null{
    color: #ee31dd;
}
[data-bs-theme="dark"] .record-value.value-null{
    color: #ee31dd;
}

[data-bs-theme="light"] .record-value.value-empty{
    color: #6c6c6c;
}
[data-bs-theme="dark"] .record-value.value-empty{
    color: #6c6c6c;
}

[data-bs-theme="light"] .record-value.value-failed{
    color: #c70101;
}
[data-bs-theme="dark"] .record-value.value-failed{
    color: #c70101;
}

[data-bs-theme="light"] .record-metadata-value {
    color: #2a75c0 !important;
}
[data-bs-theme="dark"] .record-metadata-value {
    color: #2a75c0 !important;
}


