.sql-insert-text:hover {
    cursor: pointer;
}

.data-value.sql-integer, .data-value.sql-bigint, .data-value.sql-double, .data-value.sql-float {
    color: #a84812;
}
.data-value.sql-varchar, .data-value.sql-text {
    color: #3c8418;
}
.data-value.sql-boolean {
    color: #9b6add;
}
.data-value.sql-timestamp {
    color: #b59d02;
}

.span-block {
    display: inline-block;
}
