
.sticky-table-headers table {
    border-collapse: separate;
    border-spacing: 0;
}

.sticky-table-headers tr.sticky-header, .sticky-table-headers thead.sticky-header {
    top: 0;
    z-index: 2;
    position: sticky;
}
.sticky-table-headers tr > .sticky-header {
    left: 0;
    z-index: 1;
    position: sticky;
}

.sticky-table-headers tr > .sticky-header-border::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--bs-border-color);
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

.sticky-table-headers .sticky-header th {
    border-width: 0 !important;
}


